<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Listener_podcast</title>

	<link rel="stylesheet" type="text/css" href="listener.css">

	<style >
		.main_section{
			background: rgb(66,69,73);
			display: flex;
			flex-direction: row;
			height: 755px;
			justify-content: space-around;
		}


		.category-container{
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;


		}
		
		

		.audio_control{
			height: 70%;
			width: 70%;
			margin-left: auto;
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 10px;
		}

		
		

		img{
			height: 50px;
			width: 50px;
			justify-self: start;
			align-self: center;
		}

		.category-contents>div:hover{
			background-color: rgb(125,125,125);
		}
		
		.charts {
			flex: auto;
			width: 45%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
		.charts div{
			flex:auto;
			display: flex;
			flex-direction: column;
			
			font-weight: bold;
			text-align: center;

		}
		.charts div div{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}


		.charts div div:hover{
			background-color: rgb(125,125,125);
		}

		
	</style>
</head>
<body>
	<nav class = "nav_bar">	

		<div class="nav_bar_left">
			<button class="listener" onclick="window.location.href='/'">Listener</button>
			<button class="dj">DJ</button>
			<button class="producer">Producer</button>
		</div>


		<div class="nav_bar_middle"> PAGE TITLE
			
		</div>


		<div class="nav_bar_right"> 
			<button class="profile" onclick="window.location.href='listener_profile'">Profile</button>

			<select class="language" name="language" id="language">
    			<option value="english">English</option>
  				<option value="spanish">Espanol</option>
  				<option value="french">French</option>
			</select> 

			<form name = myForm action="" onsubmit="return validateForm()" method="post" required>
				<input class="search" type="text" id="search" name="search">
				<input class="sub" type="submit" value="Submit">
			</form>
		</div>

	</nav>

	<div class = "media_bar">
		<audio controls class="audio_control">
			<source src="mck.mp3" type="audio/mpeg">
		</audio>
	</div>

	<main class = "main_section">
		<div class="charts">
			<div>
				<h2>Popular</h2>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 1</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 2</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 3</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 4</b></p>
							
						</div>
				</div>
				<div>
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 5</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 6</b></p>
							
						</div>
				</div>
				<div>
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 7</b></p>
							
						</div>
				</div>
			</div>
			<div>
				<h2>Sports</h2>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 1</b></p>
							
						</div>
				</div>
				<div>	
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 2</b></p>
							
						</div>
				</div>
				<div>
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 3</b></p>
							
						</div>
				</div>
				<div>

						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 4</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 5</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 6</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 7</b></p>
							
						</div>
				</div>
			</div>
			<div> 
				<h2>Recent</h2>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 1</b></p>
							
						</div>
				</div>
				<div>
					
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 2</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 3</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 4</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 5</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 6</b></p>
							
						</div>
				</div>
				<div>
						
						<div class="category-content">
							<img src="/images/podcast_icon.jpg">
							
							<p><b>Podcast 7</b></p>
							
						</div>
				</div>
			</div>
		</div>
			<script >
			
				function validateForm() {
				  var x = document.forms["myForm"]["search"].value;
				  if (x == "" || x == null) {
				    alert("Please enter keywords.");
				    return false;
				  }
				}
				window.onload = function(){
					chart();
				}
				function chart(){
					const chart = document.querySelectorAll(".charts>div>div");
					for(let i = 0; i < chart.length; i++){
						chart[i].addEventListener("click", function(){alert("clicked")});
						console.log(i);
					}
				}
		

			</script>
	</main>

			<footer class = "foot_note"> Footnote			
			</footer>

	
</body>
</html>