<nav class = "navbar">
    <div class = "Producer">
        <a href="/Producer" >Producer</a> 
    </div>
    <div class = "Listener">
        <a href="/Listener" >Listener</a>
    </div>
    <div class = "Dj">
        <a href="/DJHomepage">DJ</a>
    </div>
    <h1> DJ Timeslot </h1>
    <div class = "DjBack">
        <a href="/DJHomepage">Back To DJ Menu</a>
    </div>
</nav>